
/*---------- for extra small(xs(col),portrait phones) and small(sm,lanscape phones)-----------*/
@media(min-width:576px){
	.container{
		width:575px;
	}
}
@media(max-width:767px){

	.col-1{
		width:8.33%;
		padding:0 15px;
	}
	.col-2{
		width:16.66%;
		padding:0 15px;
	}
	.col-3{
		width:25%;
		padding:0 15px;
	}
	.col-4{
		width:33.33%;
		padding:0 15px;
	}
	.col-5{
		width:41.66%;
		padding:0 15px;
	}
	.col-6{
		width:50%;
		padding:0 15px;
	}
	.col-7{
		width:58.33%;
		padding:0 15px;
	}
	.col-8{
		width:66.66%;
		padding:0 15px;
	}
	.col-9{
		width:75%;
		padding:0 15px;
	}
	.col-10{
		width:83.33%;
		padding:0 15px;
	}
	.col-11{
		width:91.66%;
		padding:0 15px;
	}
	.col-12{
		width:100%;
		padding:0 15px;
	}
		/*-- header begins---*/
	.d-none{display:none;}
	.mb-btn{display:block;}
	a.nav-btn{
		padding:6px 20px;
		margin-left:px;
		color:white;
		font-size:15px;
	}
			/*-- header ends---*/
	.banner-content{padding:100px 0 230px 0;}
	.banner-content h1{font-size:40px;}
	.banner-content p{font-size:20px;}
	.skew-background {padding: 100px 0;}
	.heading {font-size:28px;}
	.banner{text-align:center}
	.support-content {
		min-height:58px;
		padding:0;
	}
	.support-content p{display:none;}
	.support-content i {
		font-size:32px;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.support-image{padding:16px 0;}
	.abt-center{text-align:center;}
	.about-content h1 {font-size:32px;}
	.number{padding:30px 0;}
	.number h1 {font-size:30px;}
	.service-points{padding:20px 6px 10px 74px;}
	.pricing-points span {font-size: 46px;}
	.address{padding:15px 0}
	.address-links{margin:20px 0;}
	.footer-links {
		text-align:left;
		padding-top:10px;
	}
}
/*---------- medium device(TAB md)-----------*/
@media(min-width:768px){
	.container{
		width:765px;
	}
	.col-md-1{
		width:8.33%;
		padding:0 15px;
	}
	.col-md-2{
		width:16.66%;
		padding:0 15px;
	}
	.col-md-3{
		width:25%;
		padding:0 15px;
	}
	.col-md-4{
		width:33.33%;
		padding:0 15px;
	}
	.col-md-5{
		width:41.66%;
		padding:0 15px;
	}
	.col-md-6{
		width:50%;
		padding:0 15px;
	}
	.col-md-7{
		width:58.33%;
		padding:0 15px;
	}
	.col-md-8{
		width:66.66%;
		padding:0 15px;
	}
	.col-md-9{
		width:75%;
		padding:0 15px;
	}
	.col-md-10{
		width:83.33%;
		padding:0 15px;
	}
	.col-md-11{
		width:91.66%;
		padding:0 15px;
	}
	.col-md-12{
		width:100%;
		padding:0 15px;
	}
}

	/*----------from larger device(laptop lg,desktop xl,..)-----------*/
@media(min-width:992px){
	.container{
		width:990px;
	}
	.col-lg-1{
		width:8.33%;
		padding:0 15px;
	}
	.col-lg-2{
		width:16.66%;
		padding:0 15px;
	}
	.col-lg-3{
		width:25%;
		padding:0 15px;
	}
	.col-lg-4{
		width:33.33%;
		padding:0 15px;
	}
	.col-lg-5{
		width:41.66%;
		padding:0 15px;
	}
	.col-lg-6{
		width:50%;
		padding:0 15px;
	}
	.col-lg-7{
		width:58.33%;
		padding:0 15px;
	}
	.col-lg-8{
		width:66.66%;
		padding:0 15px;
	}
	.col-lg-9{
		width:75%;
		padding:0 15px;
	}
	.col-lg-10{
		width:83.33%;
		padding:0 15px;
	}
	.col-lg-11{
		width:91.66%;
		padding:0 15px;
	}
	.col-lg-12{
		width:100%;
		padding:0 15px;
	}
	.client{padding:60px 0;}
	.support .support-image-reverse{
		flex-direction:row;
	}
}
/*----------column size ends-----------*/

@media(min-width:768px) and (max-width:992px){
	.para {
		font-size:18px;
	}
	/*-- header begins---*/
	.d-md-none{
		display:none;
	}
	.mb-btn{
		display:block;
	}
	a.nav-btn{
		padding:6px 20px;
		margin-left:10px;
		color:white;
		font-size:15px;
	}
			/*-- header ends---*/
	.support-content {
		padding:0;
		min-height:70px;
	}
	.support-content p{display:none;}
	.support-content i {
		left:50%;
		transform:translate(-50%,-50%);
	}
	.support-image{padding:16px 0;}
}
@media(min-width:992px) and (max-width:1200px){
	.nav-bar li a{
		padding:8px 10px;	
	}

}
/*----------only for extralarger(large desktop) -----------*/
@media(min-width:1200px){
	.container{
		width:1170px;
	}
}
