@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Rubik&display=swap');
.container{
	width:100%;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	margin: 0 -15px;
	flex-wrap:wrap;
}
.row>*{
	width:100%;
	padding:0 15px;
}

/*--------- common style----------*/
.mb-btn{
	display:none;
}
.mb-btn i{
	font-size:20px;
	padding:0 10px;
}
.btns{
	text-decoration:none;
	display:inline-block;
	background:#e03a3c;
	border:none;
	border-radius:5px;
	color:white;
}
.text-align-center{text-align:center;}
.text-align-right{text-align:right !important;}
.align-items-center{align-items:center !important;}
.justify-content-center{justify-content:center !important;}
.justify-content-flex-end{justify-content:flex-end !important;}
.justify-content-space-between{justify-content:space-between;}
.head-content{
	padding:20px 0;
	text-align:center;
	color:#444444;
}
.heading{
	font-size:30px;
	font-weight:600;
	padding-bottom:20px;
}
.underline{
	width:50px;
	height:3px;
	background:#e03a3c;
	margin:0 auto;
}
.para{padding-top:20px;}

.skew-background{
	padding:120px 0;
	position:relative;
	z-index:1;
	color:white;
}
.skew-background:before{
	content:"";
	position:absolute;
	background:#1b1b1b;
	top:50px;
	bottom:50px;
	left:0;
	right:0;
	z-index:-1; 
	transform:skewY(-3deg);
}
.skew-background .head-content{color:white;}
/*--------- common style ends----------*/

/*---------header start-----------*/
.header{background:#fff;
	padding:20px 0;
	position:fixed;
	top:0;
	z-index:3;
	width:100%;
}
.logo a{
	display:inline-block;
	text-decoration:none;
	font-size:30px;
	font-weight:600;
	color:black;}
.logo a span{color:#e03a3c;}
.logo-menu {}
ul.nav-bar >li{
	display:inline-block;
	text-align:right;
}
.nav-bar li a{
	text-decoration:none;
	display:block;
	font-size:15px;
	font-weight:600;
	color:black;
	padding:8px 14px;	
}
.nav-bar li{
	display:block;
}
.nav-bar li a i{
	position:absolute;
	top:12px;
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
	
}
.nav-bar li a:hover{
	color:red;
}
.nav-bar li a.nav-btn{
	text-decoration:none;
	padding-left:25px;
	padding-right:25px;
	margin-left:10px;
	color:white;
	font-size:15px;
}
.nav-btn:hover{
	background:black;
}


	/*---dropdown----*/
.dropdown{
	position:relative;
	padding-right:25px;
}

.dropdown-bar{
	position:absolute;
	top:100%;
	left:0;
	text-align:left;
	visibility:hidden;
	padding:12px 0;
	min-width:180px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateY(20px);
	transition:all 0.3s ease;
}
.dropdown:hover .dropdown-bar{
	visibility:visible;
	transform:translateY(0);	
}
  	/*---dropdown----*/
.deep-dropdown{position:relative;}
.deep-dropdown-bar{
	position:absolute;
	top:20%;
	left:100%;
	text-align:left;
	visibility:hidden;
	padding:12px 0;
	min-width:180px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateX(-20px);
	transition:all 0.3s ease;
}
.deep-dropdown:hover .deep-dropdown-bar{
	visibility:visible;
	transform:translateX(0px);
	}

/*---------header end-----------*/
/*---------banner start----------------------------*/
.banner{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/banner-img.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	margin-top:75px;
}
.banner-content{
	padding:130px 0 250px 0;
	font-family:Raleway, san-serif;
	color:white;
}
.banner-content h1{
	font-size:45px;
}
.banner-content p{
	font-size:25px;
	padding:15px 0 40px 0;
}
.banner-content a{
	display:inline-block;
	text-decoration:none;
	padding:10px 25px;
	font-weight:500;
	border:solid 2px #e03a3c;
}
.banner-content a:hover{
	border:solid 2px white;
	background:none;
}

/*---------banner end--------------------------------------*/
/*---------client start-----------*/
.client{background:white;
		padding:30px 0;
}
.clientflex{
	padding:0 10px;
	min-width:70px;
	max-width: 144px;
	margin:10px auto;
}
.clientflex img{
	width:100%;
	margin:0 auto;
	filter:grayscale(100%);
	opacity:0.5;
	transition:all 0.3s ease;
}
.clientflex img:hover{
	filter:grayscale(0);
	opacity:1;
}
/*---------client end-----------*/
/*-----------------about start---------------*/
.about-content h1{
	font-size:35px;
	font-weight:800;
}
.about-content p{
	font-size:16px;
	padding:35px 0;
	line-height:23px;
}

.about-content a.abt-btn{
	display:inline-block;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	padding:9px 27px;
	border:solid 2px #e03a3c;
	border-radius:20px;
	background:#1b1b1b;
	margin-bottom:20px;
}
.about-content .abt-btn:hover{
	background:#e03a3c;
}
.abt-comment{padding:18px 0}
.abt-comment h2{
	font-size:20px;
	font-weight:900;
	padding:13px 0;
}
.abt-comment p{
	color:#848484;
	font-size:15px;
	line-height:23px;
}
.abt-comment i{
	color:#e03a3c;
	font-weight:bold;
	font-size:30px;
}
/*-----------------about end---------------*/
/*---------count start-----------*/
.count{background:white;
		padding:60px 0 60px 0;
}
.number{
	position:relative;
	padding:40px 0;
	background:white;
	text-align:center;
	box-shadow:27px 3px 80px #d3d3d378;
	margin-top:30px;
}
.number h1{
	font-size:35px;
	font-family:open sans, san-serif;
}
.number p{font-size:15px;}
.number i{
	position:absolute;
	top:-20%;
	left:50%;
	transform:translateX(-25px);
	font-size:25px;
	text-align:center;
	line-height:50px;
	width:50px;
	height:50px;
	border:none;
	color:#e03a3c;	
	background:white;
	border-radius:50%;
	box-shadow:0 0 10px #d3d3d378;
	
}
/*---------count end-----------*/
/*---------support starts-----------*/
.support{
	padding:15px 0;
}
.support .support-image-reverse{
	flex-direction:column-reverse;
}
.support-content{
	position:relative;
	padding:30px 10px 30px 70px;
	border:solid 1px lightgray;
	transition:all 0.5s ease;
	min-height:112px;
}
.support-content i{
	font-size:44px;
	position:absolute;
	left:14px;
	top:50%;
	transform:translateY(-50%);
}
.support-content p{
	font-weight:400;
	font-size:18px;
}
.supp-selected{
	background:#e03a3c;
	color:white;
}
.sup-active:hover{
	color:#e03a3c;
}
.support-image h3{
	color:#6c757d;
	font-weight:600;
	font-size:30px;
}
.support-image p{
	padding:14px 0;	
}
.support-image p.italic{font-style:italic;}
.support-image i{
	font-size:25px;
	padding-right:8px;
	color:#e03a3c;
}
.support-image img{
	width:100%;
	height:auto;
}
.support-image{padding:70px 0}
/*---------support end-----------*/
/*---------service starts-----------*/
.service-points{
	position:relative;
	padding:34px 28px 46px 100px;
	border-radius:3px;
	transition:all 0.5s ease;
	font-weight:400;
	font-size:14px;
	color:white;
	background:#252525;
	margin:10px 0;
	line-height:25px;
}
.service-points i{
	font-size:44px;
	position:absolute;
	left:22px;
	top:34px;
	color:#e03a3c;
}
.service-points a{
	text-decoration:none;
	font-size:18px;
	font-weight:800;
	color:white;
	padding-bottom:18px;
	display:inline-block;
	
}
/*---------service end-----------*/

/*---------portfolio starts-----------*/
.portfolio{
	padding:30px 0;
}
.portfolio-heading h1{
	position:relative;
}
.portfolio-heading h1:after{
	content:"";
	position:absolute;
	background-color:#e03a3c;
	width:50px;
	height:4px;
	bottom:0;
	left:50%;
	transform:translateX(-25px);
}
.portfolio-nav {
	text-align:center;
	padding:20px 0;
}
.portfolio-nav a{
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	padding:8px 8px;
	border-radius:2px;
	color:black;	
}
.portfolio-nav .active{
	background:#e03a3c;
	color:white;
}
.portfolio-nav a:hover{
	background:#e03a3c;
	color:white;
}
.portfolio-images{
	position:relative;
	margin:20px 0;
	transition:all 2s ease;
	overflow:hidden;
}
.portfolio-images img{
	width:100%;
	height:auto;
	display:block;
	transition:all 0.5s ease;
}

.portfolio-images .overlay{
	position:absolute;
	display:block;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:14px;
	color:#cfd8dc;
	background:rgba(0,0,0,0.5);
	opacity:0;
}
.portfolio-images .overlay .over-content{
	position:absolute;
	left:10%;
	bottom:10%;
}
.portfolio-images .overlay h3{
	color:white;
	font-size:16px;
}
.portfolio-images .overlay p{
	font-style:italic;
	padding:8px 0;
	text-transform:uppercase;
}
.portfolio-images .overlay a{
	display:inline-block;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	color:#dad0d0a6;
}
.portfolio-images .overlay a:hover{color:white}
.portfolio-images:hover .overlay{
	opacity:1;
}
.portfolio-images:hover img{transform:scale(1.5);}


/*---------portfolio end-----------*/
/*---------testimonial starts-----------*/
.testimonial{
	padding:15px 0;
}
.testimonial-points{
	margin:20px 0;
	padding: 30px 30px;
	box-shadow:1px 1px 15px #00000014;
	border-radius:15px;
}
.testimonial-points .position{
	position:relative;
	padding:22px 0 8px 86px;
}
.position img{
	position:absolute;
	top:0;
	left:6px;
	width:68px;
	height:auto;
	display:block;
	border-radius:3px;
}
.testimonial-points h3{
	font-weight:bold;
}
.testimonial-points h4{
	color:#999;
	font-size:14px;
	padding:8px 0;
}
.testimonial-points p{
	font-style:italic;
	padding:10px 0;
	color:#444444;
}
.testimonial-points i{
	font-size:20px;
	color:#fceaea;
	display:inline-block;
}
.testimonial-points i:first-child{
	transform:translate(-6px, -6px);
}
.testimonial-points i:last-child{
	transform:translate(6px, 6px);
}
/*---------testimonial end-----------*/
/*---------pricing starts-----------*/
.pricing-points{
	text-align:center;
	font-size:14px;
	color:white;
	background:#252525;
	margin:20px 0;
	border-radius:8px;
	padding:34px 0;
}
.pricing-points span{font-size:50px;}
.pricing-points span sup{font-size:20px;}
.pricing-points ul li{
	padding:12px 0;
	display:block;
}
.pricing-points ul li s{color:#ffffff80;}
.pricing-points a{
	text-decoration:none;
	display:inline-block;
	color:white;
	border:solid 2px #ffffff80;
	border-radius:3px;
	padding:10px 30px;
	margin-top:30px;
	font-weight:bold;
}
.active{background:#e03a3c}
.pricing-points a:hover{border:solid 2px white;}
/*---------pricing end-----------*/


/*---------question starts-----------*/
.question{padding:15px 0}
.question-types{
	border-bottom:solid 1px lightgray;
	font-size:18px;
	color:#343a40;
}
.question-types details{
	padding:12px 0;
}
.question-types summary{
	list-style:none;
	position:relative;
	padding:10px 0;
}
.question-types summary i{
	position:absolute;
	top:50%;
	right:0;
}
.question-types summary:hover{color:#e03a3c;}
/*---------question end-----------*/

/*--------team starts-----------*/
.team-points{
	position:relative;
	background:white;
	margin:20px 0;
	color:black;
	font-size:14px;
	border-radius:8px;
	overflow:hidden;
}
.team-points p{
	color:#aaaaaa;
	padding:10px 0;
}
.team-points img{
	width:100%;
	height:auto;
	display:block;
}
.team-points figcaption{
	padding:20px 0 20px 14px;
}
.team-points .socialmedia{
	position:absolute;
	bottom:109px;
	left:0;
	color:red;
	width:100%;
	opacity:0;
	visibility:hidden;
	text-align:center;
	transform:translatey(-20px);
	transition:all 0.5s ease;
}
.team-points .socialmedia a{
	display:inline-block;
	text-decoration:none;
	background:#e03a3c;
	width:34px;
	height:34px;
	border-radius:50%;
	line-height:34px;
	text-align:center;
	margin:0 1px;
}
.team-points .socialmedia a:hover{background:black;}
.team-points .socialmedia i{
	font-size:16px;
	color:white;
}
.team-points:hover .socialmedia{
	opacity:1;
	transform:translatey(0px);
	visibility:visible;
}
/*---------team end-----------*/


/*---------contact starts-----------*/
.contact{
	padding:40px 0;
}
.contact-ours{margin:10px 0}
.contact-ours,.contact-yours{
	box-shadow:0 0 20px #d6d7d899;
	text-align:center;
	color:#777777;
	font-size:14px;
	padding:25px 20px;
}
.contact-ours i{
	display:inline-block;
	width:44px;
	height:44px;
	font-size:30px;
	color:#e03a3c;
	border:dotted 1px #e03a3c;
	border-radius:50%;
	text-align:center;
	line-height:44px;
	margin:10px 0;
}
.contact-ours h2{
	padding:5px 0;
	font-weight:bold;
}
.contact-ours p{
	padding:5px 0;
}
.contact-yours .contact{
	padding:12px 0 12px 10px;
	margin:14px 0;
	width:100%;
	font-size:14px;
	border:solid 0.5px lightgray;
	border-radius:2px;
}
.contact-yours button{
	background:#e03a3c;
	padding:12px 30px;
	border:none;
	color:white;
	border-radius:3px;
	font-size:16px;
	margin:10px 0;
}
/*---------contact end-----------*/
/*---------address starts-----------*/
.address{background:#1b1b1b;
	padding:70px 0;
}
.address-logo{
	color:white;
}
.address-logo h1{
	font-size:28px;
	padding-bottom:10px;
	
}
.address-logo h1 span{
	color:#e03a3c;
}
.address-logo p{
	font-size:14px;
	line-height:30px;
}
.address-links{
	color:white;
	font-size:14px;
}
.address-links h2{
	padding-top:10px;
	font-size:18px;
	font-weight:bold;
}
.address-links div{
	width:20px;
	height:2px;
	background:#e03a3c;
	margin:10px 0 10px 0;
}
.address-links li{
	list-style:none;
	line-height:36px;
	
}
.address-links li a{
	text-decoration:none;
	color:#aaaaaa;
	padding-left:5px;
}
.address-links li a:hover{
	color:white;
}
.newsletter form{
	margin:30px 0;
	position:relative;
	max-width:400px;
}
.newsletter input[type=email]{
	padding:10px 105px 10px 5px;
	width:100%;
	border-radius:5px;
	outline:none;
	border:none;
}

.newsletter input[type=submit]{
	position:absolute;
	right:0;
	top:0;
	width:100px;
	height:100%;
	background:#e03a3c;
	color:white;
	font-size:16px;
	border-radius:0 5px 5px 0;
	border:none;
}
.newsletter input[type=submit]:hover{background:#e35052;}
.scrollup a{
	position:fixed;
	z-index:99;
	bottom:20px;
	right:20px;
	text-decoration:none;
	color:white;
	display:inline-block;
	font-size:24px;
	border-radius:3px;
	background:#e03a3c;
}
.scrollup a:hover{
	background:#e35052;
}
/*---------address end-----------*/
/*---------footer start-----------*/
.footer{background:black;
	padding:24px 0;
	color:white;
	font-size:14px;
	line-height:25px;
}
.footer-copyright a{
	text-decoration:none;
	color:#e03a3c;
}
.footer-links {text-align:right;}
.footer-links a{
	text-decoration:none;
	color:white;
	display:inline-block;
	width:34px;
	height:34px;
	line-height:34px;
	border-radius:3px;
	background:#2b2b2b;
	text-align:center;
	margin:0 3px;
}
.footer-links a i{
	font-size:18px;
}
.footer-links a:hover {background:#e03a3c}

/*---------footer end-----------*/