.container{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
/*--------- common style----------*/

.btns{background:#e03a3c;
	border:none;
	border-radius:5px;
	color:white;
}
.align-items-center{align-items:center !important;}







/*--------- common style ends----------*/

/*---------header start-----------*/
.header{background:#fff;
	padding:20px 0;
}
.logo a{
	display:inline-block;
	text-decoration:none;
	font-size:30px;
	font-weight:600;
	color:black;}
.logo a span{color:red;}
.logo-menu {text-align:right;}
.nav-bar li{
	display:inline-block;	
}
.nav-bar li a{
	text-decoration:none;
	display:block;
	font-size:14px;
	font-weight:400;
	color:black;
	padding:6px 15px;
}
.nav-bar li a.nav-list{padding:8px 14px;}
.nav-bar li a i{
	position:absolute;
	top:12px;
	font-size:15px;
	font-weight:bold;
	color:grey;
	padding-left:5px;
}
.nav-bar li :hover{
	color:red;
}
.nav-bar li a.nav-btn{
	text-decoration:none;
	padding-left:25px;
	padding-right:25px;
	margin-left:10px;
	color:white;
	font-size:15px;
}
.nav-btn:hover{background:black;}


	/*---dropdown----*/
.dropdown{
	position:relative;
}

.dropdown-bar{
	position:absolute;
	top:100%;
	left:0;
	text-align:left;
	visibility:hidden;
	padding:12px 0;
	min-width:170px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateY(20px);
	transition:all 0.2s ease;
}
.dropdown:hover .dropdown-bar{
	visibility:visible;
	transform:translateY(0);
}
  	/*---dropdown----*/
.deep-dropdown{position:relative;}
.deep-dropdown-bar{
	position:absolute;
	top:20%;
	left:100%;
	text-align:left;
	visibility:hidden;
	padding:12px 0;
	min-width:170px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateX(0px);
	transition:all 0.2s ease;
}
.deep-dropdown:hover .deep-dropdown-bar{
	visibility:visible;
	transform:translateX(20px);
	}

/*---------header end-----------*/
/*---------banner start-----------*/
.banner{
	background:#4087a5;
	padding:50px 0;
}
.banner-content{
	background:white;
	width:600px;
	height:300px;
}
/*---------banner end-----------*/
/*---------client start-----------*/
.client{background:#5bb0a1;
		padding:30px 0;
}
.clientflex{
	background:white;
	height:75px;
}
/*---------client end-----------*/
/*-----------------about start---------------*/
.about{background:gray;
		padding:15px 0;
}
.about-content{
	background:white;
	height:400px;
}
.abt-comment{
	height:170px;
	background:white;
	margin:20px 0;
}
/*-----------------about end---------------*/
/*---------count start-----------*/
.count{background:#4087a5;
		padding:15px 0;
}
.number{
	height:150px;
	background:white;
}
/*---------count end-----------*/
/*---------support starts-----------*/
.support{
	background:#d45a97;
	padding:15px 0;
}
.support-content{
	background:white;
	height:100px;
	
}
.support-image{
	background:white;
	height:400px;
	margin:20px 0;
}

/*---------support end-----------*/
/*---------service starts-----------*/
.services{background:gray;
	padding:15px 0;
}
.service-heading{
	background:white;
	height:50px;
}
.service-points{
	background:white;
	height:100px;
	margin:20px 0;
}

/*---------service end-----------*/
/*---------portfolio starts-----------*/
.portfolio{background:#4087a5;
	padding:15px 0;
}
.portfolio-heading{
	background:white;
	height:75px;
}
.portfolio-images{
	background:white;
	height:200px;
	margin:20px 0;
}
/*---------portfolio end-----------*/
/*---------testimonial starts-----------*/
.testimonial{background:#d45a97;
	padding:15px 0;
}
.testimonial-heading{
	background:white;
	height:70px;
}
.testimonial-points{
	background:white;
	height:350px;
	margin:20px 0;
}

/*---------testimonial end-----------*/
/*---------pricing starts-----------*/
.pricing{background:gray;
	padding:15px 0;
}
.pricing-heading{
	background:white;
	height:70px;
}
.pricing-points{
	background:white;
	height:350px;
	margin:20px 0;
}

/*---------pricing end-----------*/
/*---------question starts-----------*/
.question{background:#4087a5;
	padding:15px 0;
}
.question-heading{
	background:white;
	height:75px;
}
.question-types{
	background:white;
	height:40px;
	margin:10px 0;
}

/*---------question end-----------*/
/*--------team starts-----------*/
.team{background:#d45a97;
	padding:15px 0;
}
.team-heading{
	background:white;
	height:70px;
}
.team-points{
	background:white;
	height:400px;
	margin:20px 0;
}

/*---------team end-----------*/
/*---------contact starts-----------*/
.contact{background:gray;
	padding:15px 0;
}
.contact-heading{
	background:white;
	height:70px;
}
.contact-ours{
	background:white;
	height:180px;
	margin:20px 0;
}
.contact-yours{
	background:white;
	height:400px;
	margin:20px 0;
}

/*---------contact end-----------*/
/*---------address starts-----------*/
.address{background:#4087a5;
	padding:15px 0;
}
.address-logo{
	background:white;
	height:200px;
}
.address-links{
	background:white;
	height:200px;
}
.address-join{
	background:white;
	height:200px;
}

/*---------address end-----------*/
/*---------header start-----------*/
.footer{background:#d45a97;
	padding:15px 0;
}
.footer .row{justify-content:space-between;}
.footer-copyright,.footer-links{
	background:white;
	height:75px;
}
/*---------header end-----------*/