.container{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
}
.row{
	display:flex;
	margin: 0 -15px;
	flex-wrap:wrap;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
/*--------- common style----------*/

.btns{background:#e03a3c;
	border:none;
	border-radius:5px;
	color:white;
}
.align-items-center{align-items:center !important;}







/*--------- common style ends----------*/

/*---------header start-----------*/
.header{background:#fff;
	padding:20px 0;
}
.logo a{
	display:inline-block;
	text-decoration:none;
	font-size:30px;
	font-weight:600;
	color:black;}
.logo a span{color:#e03a3c;}
.logo-menu {}
ul.nav-bar >li{
	display:inline-block;
	text-align:right;
}
.nav-bar li a{
	text-decoration:none;
	display:block;
	font-size:15px;
	font-weight:600;
	color:black;
	padding:8px 14px;	
}
.nav-bar li{
	display:block;
}
.nav-bar li a i{
	position:absolute;
	top:12px;
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
	
}
.nav-bar li a:hover{
	color:red;
}
.nav-bar li a.nav-btn{
	text-decoration:none;
	padding-left:25px;
	padding-right:25px;
	margin-left:10px;
	color:white;
	font-size:15px;
}
.nav-btn:hover{
	background:black;
}


	/*---dropdown----*/
.dropdown{
	position:relative;
	padding-right:25px;
}

.dropdown-bar{
	position:absolute;
	top:100%;
	left:0;
	text-align:left;
	visibility:hidden;
	
	padding:12px 0;
	min-width:180px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateY(20px);
	transition:all 0.3s ease;
}
.dropdown:hover .dropdown-bar{
	visibility:visible;
	transform:translateY(0);	
}
  	/*---dropdown----*/
.deep-dropdown{position:relative;}
.deep-dropdown-bar{
	position:absolute;
	top:20%;
	left:100%;
	text-align:left;
	visibility:hidden;
	padding:12px 0;
	min-width:180px;
	background:white;
	box-shadow:1px 1px 10px gray;
	transform:translateX(-20px);
	transition:all 0.3s ease;
}
.deep-dropdown:hover .deep-dropdown-bar{
	visibility:visible;
	transform:translateX(0px);
	}

/*---------header end-----------*/
/*---------banner start----------------------------*/
.banner{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/banner-img.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.banner-content{
	padding:100px 0 250px 0;
	font-family:Raleway, san-serif;
}
.banner-content h1{
	color:white;
	font-size:45px;
}
.banner-content p{
	color:white;
	font-size:25px;
	padding:15px 0 40px 0;
}
.banner-content a{
	display:inline-block;
	text-decoration:none;
	padding:10px 25px;
	border:solid 2px #e03a3c;
	transition:all 0.5s ease;
}
.banner-content a:hover{
	border:solid 2px white;
	background:none;
}

/*---------banner end--------------------------------------*/
/*---------client start-----------*/
.client{background:white;
		padding:80px 0;
}
.clientflex{padding:5px 30px;}
.clientflex img{
	width:100%;
	filter:grayscale(100%);
	opacity:0.5;
	transition:all 0.3s ease;
}
.clientflex img:hover{
	filter:grayscale(0);
	opacity:1;
}
/*---------client end-----------*/
/*-----------------about start---------------*/
.about{
	padding:120px 0;
	position:relative;
	z-index:1;
	color:white;
	background:white;
}
.about:before{
	content:"";
	position:absolute;
	background:#1b1b1b;
	top:50px;
	bottom:50px;
	left:0;
	right:0;
	z-index:-1; 
	transform:skewY(-3deg);
}
.about-content h1{
	font-size:35px;
	font-weight:800;
}
.about-content p{
	font-size:16px;
	padding:35px 0;
	line-height:23px;
}

.about-content a.abt-btn{
	display:inline-block;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	padding:9px 27px;
	border:solid 2px #e03a3c;
	border-radius:20px;
	background:#1b1b1b;
}
.about-content .abt-btn:hover{
	background:#e03a3c;
}
.abt-comment{padding:18px 0}
.abt-comment h2{
	font-size:20px;
	font-weight:900;
	padding:13px 0;
}
.abt-comment p{
	color:#848484;
	font-size:15px;
	line-height:23px;
}
.abt-comment i{
	color:#e03a3c;
	font-weight:bold;
	font-size:30px;
}
/*-----------------about end---------------*/
/*---------count start-----------*/
.count{background:white;
		padding:80px 0 60px;
}
.number h1{
	font-size:35px;
	font-family:open sans, san-serif;
}
.number p{font-size:15px;}
.number{
	position:relative;
	padding:40px 40px 30px 40px;
	background:white;
	text-align:center;
	box-shadow:27px 3px 80px #d3d3d378;
}
.number i{
	position:absolute;
	top:-20%;
	left:50%;
	transform:translateX(-25px);
	font-size:25px;
	text-align:center;
	line-height:50px;
	width:50px;
	height:50px;
	border:none;
	color:#e03a3c;	
	background:white;
	border-radius:50%;
	box-shadow:0 0 10px #d3d3d378;
	
}
/*---------count end-----------*/
/*---------support starts-----------*/
.support{
	padding:15px 0;
}
.support-content{
	position:relative;
	padding:30px 28px 30px 80px;
	border:solid 1px lightgray;
	transition:all 0.5s ease;
}
.support-content i{
	font-size:44px;
	position:absolute;
	left:22px;
	top:34px;
}
.support-content p{
	font-weight:400;
	font-size:18px;
}
.supp-selected{
	background:#e03a3c;
	color:white;
}
.support-content:hover{
	color:#e03a3c;
}
.support-image h3{
	color:#6c757d;
	font-weight:600;
	font-size:30px;
}
.support-image p{
	padding:14px 0;	
}
.support-image p.italic{font-style:italic;}
.support-image i{
	font-size:25px;
	padding-right:8px;
	color:#e03a3c;
}
.support-image img{
	width:100%;
	height:auto;
}
.support-image{padding:70px 0}


/*---------support end-----------*/
/*---------service starts-----------*/
.service{
	padding:120px 0;
	position:relative;
	z-index:1;
	color:white;
	background:white;
}
.service:before{
	content:"";
	position:absolute;
	background:#1b1b1b;
	top:60px;
	bottom:48px;
	left:0;
	right:0;
	z-index:-1; 
	transform:skewY(-3deg);
}
.service-heading{
	color:white;
	padding:10px 0;
	text-align:center;
}
.service-heading h1{
	font-size:30px;
	font-weight:600;
}
.service-heading div{
	width:50px;
	height:3px;
	background:#e03a3c;
	margin:20px auto;
}
.service-points{
	position:relative;
	padding:34px 28px 46px 100px;
	border-radius:3px;
	transition:all 0.5s ease;
	font-weight:400;
	font-size:14px;
	color:white;
	background:#252525;
	margin:10px 0;
	line-height:25px;
}
.service-points i{
	font-size:44px;
	position:absolute;
	left:22px;
	top:34px;
	color:#e03a3c;
}
.service-points a{
	text-decoration:none;
	font-size:18px;
	font-weight:800;
	color:white;
	padding-bottom:18px;
	display:inline-block;	
}
/*---------service end-----------*/

/*---------portfolio starts-----------*/
.portfolio{background:#4087a5;
	padding:30px 0;
}
.portfolio-heading{
	background:white;
	height:75px;
}
.portfolio-images{
	background:white;
	height:200px;
	margin:20px 0;
}
/*---------portfolio end-----------*/
/*---------testimonial starts-----------*/
.testimonial{background:#d45a97;
	padding:15px 0;
}
.testimonial-heading{
	background:white;
	height:70px;
}
.testimonial-points{
	background:white;
	height:350px;
	margin:20px 0;
}

/*---------testimonial end-----------*/
/*---------pricing starts-----------*/
.pricing{background:gray;
	padding:15px 0;
}
.pricing-heading{
	background:white;
	height:70px;
}
.pricing-points{
	background:white;
	height:350px;
	margin:20px 0;
}

/*---------pricing end-----------*/
/*---------question starts-----------*/
.question{background:#4087a5;
	padding:15px 0;
}
.question-heading{
	background:white;
	height:75px;
}
.question-types{
	background:white;
	height:40px;
	margin:10px 0;
}

/*---------question end-----------*/
/*--------team starts-----------*/
.team{background:#d45a97;
	padding:15px 0;
}
.team-heading{
	background:white;
	height:70px;
}
.team-points{
	background:white;
	height:400px;
	margin:20px 0;
}

/*---------team end-----------*/
/*---------contact starts-----------*/
.contact{background:gray;
	padding:15px 0;
}
.contact-heading{
	background:white;
	height:70px;
}
.contact-ours{
	background:white;
	height:180px;
	margin:20px 0;
}
.contact-yours{
	background:white;
	height:400px;
	margin:20px 0;
}

/*---------contact end-----------*/
/*---------address starts-----------*/
.address{background:#4087a5;
	padding:15px 0;
}
.address-logo{
	background:white;
	height:200px;
}
.address-links{
	background:white;
	height:200px;
}
.address-join{
	background:white;
	height:200px;
}

/*---------address end-----------*/
/*---------header start-----------*/
.footer{background:#d45a97;
	padding:15px 0;
}
.footer .row{justify-content:space-between;}
.footer-copyright,.footer-links{
	background:white;
	height:75px;
}
/*---------header end-----------*/